<div class="col-md-6 offset-md-3 mt-3">
    <div class="card">
        <div class="card-header bg-dark text-white">
            <h3 class="m-0">Connected Accounts</h3>
        </div>
         <div class="card-body">
            <div class="alert alert-danger" *ngIf="connectFail">
                Unfortunately we couldn't connect your account. Please try again.
            </div>
            <div class="alert alert-danger" *ngIf="error">
                {{ error }}
            </div>
            <div class="alert alert-success" *ngIf="success">
                Great! You successfully connected your account.
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3><i class="fab fa-twitter"></i> | Twitter</h3>
                </div>
                <div class="col-md-6 text-right">
                    <button
                        class="btn btn-info"
                        (click)="onConnect('twitter')"
                        *ngIf="!providers.includes('twitter')"
                    >Connect</button>
                    <button
                        class="btn btn-danger"
                        (click)="onDisconnect('twitter')"
                        *ngIf="providers.includes('twitter')"
                    >Disconnect</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h3><i class="fab fa-linkedin-in"></i> | Linkedin</h3>
                </div>
                <div class="col-md-6 text-right">
                    <button
                        class="btn btn-info"
                        (click)="onConnect('linkedin')"
                        *ngIf="!providers.includes('linkedin')"
                    >Connect</button>
                    <button
                        class="btn btn-danger"
                        (click)="onDisconnect('linkedin')"
                        *ngIf="providers.includes('linkedin')"
                    >Disconnect</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h3><i class="fab fa-facebook-f"></i> | Facebook</h3>
                </div>
                <div class="col-md-6 text-right">
                    <button
                        class="btn btn-info"
                        (click)="onConnect('facebook')"
                        *ngIf="!providers.includes('facebook')"
                    >Connect</button>
                    <button
                        class="btn btn-danger"
                        (click)="onDisconnect('facebook')"
                        *ngIf="providers.includes('facebook')"
                    >Disconnect</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h3><i class="fab fa-instagram"></i> | Instagram</h3>
                </div>
                <div class="col-md-6 text-right">
                    <button
                        class="btn btn-info"
                        (click)="onConnect('instagram')"
                        *ngIf="!providers.includes('instagram')"
                    >Connect</button>
                    <button
                        class="btn btn-danger"
                        (click)="onDisconnect('instagram')"
                        *ngIf="providers.includes('instagram')"
                    >Disconnect</button>
                </div>
            </div>
        </div>
    </div>
</div>
