<div class="col-md-6 offset-md-3 mt-3">
    <div class="card">
        <div class="card-header bg-dark text-white">
            <h3 class="m-0">Reset Password</h3>
        </div>
        <div class="card-body">
            <div class="text-center" *ngIf="loading">
                <div class="lds-ripple">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div *ngIf="!token">
                Please click the link you recieved in your email in order to
                finish your password reset process.
            </div>
            <form #passForm="ngForm" (ngSubmit)="onSubmit(passForm)" *ngIf="!loading && !!token">
                <div class="invalid-feedback d-block mb-3" *ngIf="error">{{ error }}</div>
                <div class="valid-feedback d-block mb-3" *ngIf="isSuccessful">
                    You've successfully reset your password. Please login.
                </div>
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        ngModel
                        required
                        minlength="16"
                        #password="ngModel"
                        [class.is-valid]="password.valid"
                        [class.is-invalid]="password.invalid && password.touched"
                    >
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a valid password. (Must be at leat 16 characters.)</div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="passForm.invalid">
                    Save Password
                </button>
                <button type="submit" class="btn btn-link" (click)="onGotoLogin()">
                    Go to Login
                </button>
            </form>
        </div>
        <div class="card-footer" *ngIf="!loading">
            <a class="btn btn-warning btn-block" type="button" (click)="onGotoPasswordReset()">Begin Password Reset Process</a>
        </div>
    </div>
</div>
