<div class="col-md-6 offset-md-3 mt-3">
    <div class="card">
        <div class="card-header bg-dark text-white">
            <h3 class="m-0">Account Settings</h3>
        </div>
        <div class="card-body">
            <div class="text-center" *ngIf="loading">
                <div class="lds-ripple">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <form #settingsForm="ngForm" (ngSubmit)="onSubmit(settingsForm)" *ngIf="!loading">
                <div class="invalid-feedback d-block mb-3" *ngIf="error">{{ error }}</div>
                <div class="valid-feedback d-block mb-3" *ngIf="updateSuccessful">Success! We updated your everything. :)</div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        [(ngModel)]="email"
                        required
                        email
                        #emailField="ngModel"
                        [class.is-valid]="emailField.valid"
                        [class.is-invalid]="emailField.invalid && emailField.touched"
                    >
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a valid email address.</div>
                </div>
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        ngModel
                        minlength="16"
                        #password="ngModel"
                        placeholder="Leave blank to keep your existing password"
                        [class.is-valid]="password.valid"
                        [class.is-invalid]="password.invalid && password.touched"
                    >
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a valid password. (Must be at leat 16 characters.)</div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="settingsForm.invalid">
                    Save
                </button>
            </form>
        </div>
    </div>
</div>
